*,body{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
body{
    height: 95vh;
}
html{
    background-color: rgb(255, 241, 223);
}
main{
    display: flex;
    flex-direction: column;
}
.all{
    height: 100%;
    max-height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo-container{
    width: 100vw;
}
.logo-img{
    margin: 25px 40px;
}
#index-canvas{
    font-style: italic;
    font-size: 50px;
    font-family: 'Nerko One', cursive;
    width: 400px;
    height: 300px;
}
.input-mobile{
    display: none;
    text-align: center;
    font-size: 35px;
    color: orangered;
    border: 2px solid black;
    background-color: transparent;
    width: 60px;
    height: 45px;
    margin-bottom: 20px;
}
.buttons-index-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    text-align: center;
    margin: 30px auto;
    max-width: 260px;
}
.buttons{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 30px;
}
.buttons, .buttons-addword, .game-buttons{
    border: 1px solid black;
    font-size: 1.1em;
    line-height: 1.3;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    transition: 0.2s all;
}
.buttons:hover,.buttons-addword:hover{
    background-color: rgb(255, 221, 221);
    border-color: rgba(129, 38, 38, 0.8);
    color: rgb(151, 20, 20);
}
#button-start{
    font-weight: 700;
    font-size: 1.3em;
}
#button-addword-index{
    display: flex;
    font-family: Verdana;
    align-self: center;
    height: 89.03px;
    font-size: 1.1em;
    font-weight: 300;
    background-color: rgb(229, 214, 192);
    border: 2px dashed rgb(0, 0, 0);
    color: rgb(70, 50, 50);
}
#button-addword-index p{
    align-self: center;
}
#button-addword-index:hover{
    background-color: rgba(83, 18, 18, 0.226);
    color: brown;
}
.main-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}
.game{
    margin: 0 auto 30px;
}
.addword-container{
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#word-input{
    background-color: transparent;
    border: none;
    resize: none;
    width: 500px;
    height: 400px;
    font-size: 1.8em;
    color: black;
}
#word-input:focus{
    outline: none;
}
#word-input::placeholder{
    color: rgba(54, 0, 0, 0.486);
}
.error-container{
    margin: 5px 0;
}
.error-message{
    color: crimson;
    width: 400px;
    line-height: 20px;
}
.warning-container{
    display: flex;
    gap: 5px;
    margin: 12px 0;
    align-items: center;
}
.fa-triangle-exclamation{
    scale: 90%;
}
.warning{
    font-size: 0.9em;
    font-weight: 300;
}
.fa-check{
    margin-right: 10px;
}
.buttons-addword-container, .game-buttons-container{
    display: flex;
    gap: 5%;
}
.game-buttons-container{
    margin: 0 40px;
}
.buttons-addword, .game-buttons{
    font-size: 1em;
    background-color: white;
    font-weight: 500;
    border-radius: 20px;
    width: 47.5%;
    padding: 15px;
    text-align: center;
}
#button-cancel, #give-up-button{
    background-color: rgb(80, 91, 102);
    color: white;
    border: none;
}
#button-cancel:hover{
    background-color: rgb(89, 111, 134);
}
#canvas,.letter-spacing-container{
    margin: 0 auto;
}
#canvas{
    font-style: italic;
    font-size: 35px;
    font-family: 'Nerko One', cursive;
    width: 600px;
    height: 360px;
}
.letter-spacing-container{
    color: darkblue;
    font-size: 1.8em;
    letter-spacing: 40px;
}
.tips-container{
    display: flex;
    margin: 12px 40px;
    align-items: center;
}
.fa-circle-info{
    scale: 95%;
    margin-right: 5px;
}
.tips{
    font-size: 14px;
}
#new-game-button:hover{
    background-color: rgb(255, 240, 251);
    cursor: pointer;
}
#give-up-button:hover{
    background-color: rgb(89, 111, 134);
}
#canvas-lines{
    width: 600px;
    height: 120px;
}
.author{
    padding-top: 5px;
    text-align: center;
}
#canvas-endgame{
    display: none;
}

@media screen and (max-width: 320px){
    .logo-container{
        background-color: rgb(255, 232, 202);
        text-align: center;
    }
    .logo-img{
        width: 28px;
    }
    footer{
        height: 50px;
        display: flex;
        justify-content: center;
    }
    .main-container{
        margin: 0 auto;
        width: 100vw;
        align-items: center;
        gap: 20px;
    }
    #index-canvas{
        width: 280px;
        height: 210px;
    }
    .buttons-index-container{
        width: 200px;
    }
    #button-start{
        font-size: 1.1em;
    }
    #button-addword-index{
        font-size: 1em;
        text-align: center;
    }
    .addword-container{
        width: 100vw;
    }
    #word-input{
        box-sizing: border-box;
        height: 300px;
        width: 100vw;
        text-align: center;
        font-size: 24px;
    }
    .author{
        font-size: 14px;
    }
    .warning-container, .error-container{
        width: 100vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .error-message{
        margin: 0 10px;
    }
    .buttons-addword-container{
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }
    .buttons-addword{
        margin: 10px 0;
        padding: 25px 0;
        width: 100vw;
        max-width: 240px;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .logo-container{
        background-color: rgb(255, 232, 202);
        text-align: center;
    }
    .logo-img{
        width: 25px;
        margin: 18px 0;
    }
    footer{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .author{
        font-size: 15px;
    }
    .main-container{
        margin: 5vh auto;
        width: 100vw;
        align-items: center;
        gap: 50px;
    }
    #index-canvas{
        width: 320px;
        height: 240px;
    }
    .input-mobile{
        display: block;
    }
    .buttons-index-container{
        margin: 0 auto;
        justify-content: space-around;
        width: 100vw;
        text-align: center;
    }
    #button-start{
        font-size: 1.2em;
    }
    #button-addword-index{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #button-addword-index p{
        width: 150px;
    }
    #word-input{
        font-size: 1.7em;
        box-sizing: border-box;
        height: 300px;
        max-width: 100vw;
        text-align: center;
    }
    .warning-container, .error-container{
        width: 100vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .error-message{
        margin: 0 15px;
    }
    .buttons-addword-container, .game-buttons-container{
        flex-direction: column;
        align-items: center;
    }
    .game-buttons-container{
        width: 100vw;
    }
    .buttons-addword, .game-buttons{
        margin: 10px 0;
        padding: 25px 0;
        width: 100vw;
        max-width: 300px;
    }
    .game{
        gap: 0px;
        margin-top: 4vh;
    }
    #canvas{
        width: 100vw;
        max-width: 360px;
        height: 220px;
    }
    #canvas-lines{
        margin-bottom: 25px;
        width: 100vw;
        height: 85px;
    }
    #canvas-endgame{
        display: block;
        margin: 20px 0;
        width: 320px;
        height: 60px;
    }
}